common --enable_bzlmod

build --verbose_failures
build --announce_rc
build --apple_platform_type=ios
build --show_progress_rate_limit=5
build --output_filter=^$
build --ios_minimum_os=11.0
build --macos_minimum_os=12.0
build --host_macos_minimum_os=12.0
build --use_top_level_targets_for_symlinks
build --incompatible_strict_action_env
build --define=apple.compress_ipa=true
build --experimental_cc_implementation_deps
build --experimental_guard_against_concurrent_changes
build --experimental_multi_threaded_digest
build --profile=bazel-profile
build --experimental_objc_include_scanning
build --experimental_remote_cache_compression
build --ios_multi_cpus=x86_64
